body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: Lato,sans-serif;
    font-size: 400;
    line-height: 1.8em;
    color: #666;
}

p.img1 {
    background-image: url('../img/parallax 1.jpg');
}